@model eKart.Models.Payment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Payment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CardNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CardNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CVV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CVV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Billing_Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Billing_Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Billing_Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Billing_Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
