@model eKart.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Orders</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductQunantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductQunantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
